{% extends "base.html" %}

{% block title %}Options | Edit Contact{% endblock %}
{% block heading %}Edit contact &quot;{{ object.description }}&quot;{% endblock %}

{% block content %}
<br />

<div style="min-width: 300px; max-width: 400px;">
<form method="POST">
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>
</div>

{% endblock %}
