{% extends "base.html" %}

{% block title %}404 &ndash; Not Found{% endblock %}
{% block heading %}Not Found{% endblock %}

{% block content %}
    <p>The item you requested was not found.</p>
    <p>This may be because the item is restricted to be viewed only by authorized persons. If you have authorization, please log in and try again.</p>
{% endblock %}
