
<div id="hints" style="display: none;">

 <p><b>NOTE:</b> Clicking the 'Get neighbors' checkbox will result in an additional neighbors query for each item in the search results, and the neighbors are thus shown in the results table. However, this causes the overall query to take longer, which is why it is un-checked by default. </p>

 <h4>By Event Attributes</h4>
 Relational and range queries can be made on event attributes.
 <ul>
    <li><code>instruments = "H1,L1,V1" &amp; far &lt; 1e-7</code></li>
    <li><code>singleinspiral.mchirp &gt;= 0.5 &amp; singleinspiral.eff_distance in 0.0,55 </code></li>
    <li><code>(si.channel = "DMT-STRAIN" | si.channel = "DMT-PAIN") &amp; si.snr &lt; 5</code></li>
    <li><code>mb.snr in 1,3 &amp; mb.central_freq &gt; 1000</code></li>
 </ul>
 Attributes in the common event object (eg gpstime, far, instruments) do not need qualifiers.  Attributes specific to inspiral or burst events, for example, require qualification.  Abbreviations are available: <code>si</code> for singleinspiral, <code>ci</code> for coincinspiral and <code>mb</code> for multiburst.

 <h4>By GPS Time</h4>
  Specifiy an exact GPS time, or a range.
  Integers will be assumed to be GPS times, making the <code>gpstime:</code>
  keyword optional.
  <ul>
     <li><code>899999000 .. 999999999</code></li>
     <li><code>gpstime: 899999000.0 .. 999999999.9</code></li>
  </ul>

 <h4>By Creation Time</h4>
  Creation time may be indicated by an exact time or a range.  Date/times are
  in the format <code>2009-10-20 13:00:00</code> (must be UTC).  If the time is omitted, it
  is assumed to be <code>00:00:00</code>.  Dates may also consist of certain
  variants of English-like phrases.
  The <code>created:</code> keyword is (generally) optional.
  <ul>
     <li><code>created: 2009-10-08 .. 2009-12-04 16:00:00</code></li>
     <li><code>yesterday..now</code></li>
     <li><code>created: 1 week ago .. now</code></li>
  </ul>

 <h4>By Graceid</h4>
  GraceIds can be specified either individually, or as a range.
  The <code>gid:</code> keyword is optional.
  <ul>
   <li>gid: G2011</li>
   <li>G2011 .. G3000</li>
   <li>G2011 G2032 G2033</li>
  </ul>

 <h4>By Group, Pipeline, and Search</h4>
  The <code>group:</code>, <code>pipeline:</code>, and <code>search:</code> keywords are optional.  Names are case-insensitive.  Note that events in the Test group will not be shown unless explicitly requested.
  <ul>
   <li>CBC Burst</li>
<!--   <li>Inspiral CWB</li> -->
   <li>group: Test pipeline: cwb</li>
   <li>Burst cwb</li>
  </ul>

 <h4>By Label</h4>
  You may request only events with a particular label or set of labels.  The <code>label:</code> keyword
  is optional. Label names can be combined with binary AND: '&amp;' or ','; or binary OR: '|'. For N labels, 
  there must be exactly N-1 binary operators. (Parentheses are not allowed.) Additionally, any of the labels 
  in a query string can be negated with '~' or '-'. 
  <ul>
   <li>label: INJ</li>
   <li>EM_READY &amp; ADVOK</li>
   <li>H1OK | L1OK &amp; ~INJ &amp; ~DQV</li>
  </ul>
  Labels in current use are:
    INJ, DQV, EM_READY, PE_READY, H1NO, H1OK, H1OPS, L1NO, L1OK, L1OPS, V1NO, V1OK, V1OPS, ADVREQ, ADVOK, ADVNO, EM_COINC, EM_SENT


 <h4>By Submitter</h4>
  To specify events from a given submitter, indicate the name of the submitter in double quotes.
  The <code>submitter:</code> is optional.  While LIGO user names are predictable, most events
  are submitted through robot accounts and are not as predictable.  This is probably a defect
  that ought to be remedied.
  <ul>
    <li>"waveburst"
    <li>"gstlalcbc"  "gracedb.processor"
    <li>submitter: "joss.whedon@ligo.org" submitter: "gracedb.processor"
  </ul>

</div>
